@import 'normalize';
@import 'settings';
@import 'buttons';
@import 'responsive';


html{
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $main-font;
    overflow-y:scroll;
    min-height:100%;
}

body {
  background-color: $white;
  color: $grey;
  }

header {
  background: $blue;
  background: linear-gradient(lighten($blue,15),$blue, darken($blue, 5));
  padding: 0em 4em 0.4em;
  @include respond-to(small){
    padding: 0em 0.4em 0.4em;
  };
  h1 {
   color: $red;
   font-family: $headingFont;
   font-size: 72px;
   line-height: 1.2;
   letter-spacing: -1px;
   margin: 0;
   @include respond-to(small){
     font-size: 36px;
   };
   strong{
    color: $yellow;
    font-size: 96px;
    @include respond-to(small){
      font-size: 48px;
    };
   }
  }
    button.topic {
     @include button(none,$yellow);
     border: 1px solid $red;
     margin: 0 0.2em 0.4em;
     @include respond-to(small){
       width: 100%;
       margin: 0.2em 0 0;
     };
       &:hover {
        background-color: $red;
        //background: linear-gradient($red, darken($red, 10));
        color: $white;
        }
    }
}

.main {
  background-color: #fff;
  padding: 1em 4em 4em;
  @include respond-to(small){
    padding: 0.4em;
  };
  button {
   @include button($blue,$yellow);
   margin: 0 0.2em;
   @include respond-to(small){
     margin: 0.2em 0 0;
     width: 100%;
   };
   &:hover {
    background-color: $red;
    color: $white;
   }
   i {
     margin-right: 0.2em;
   }
  }
  ol {
    color: $grey;
    font-family: 'serif';
    font-size: 32px;
    width: 600px;
    li{
      margin: 0.4em 0;
      .answer{
        color: $red;
      }
    }
  }

}

footer {
  background-color: $blue;
  background: linear-gradient(30deg, $blue,$red, $yellow);
  color: $white;
  padding: 1em 4em 10em;
  @include respond-to(small){
    padding: 1em 1em 10em;
  };
}
